In [20]:
### Importing Libraries ###

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn


dataset = pd.read_csv('churn_data.csv')
dataset.head(3)

,user,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,...,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,rewards_earned,reward_rate,is_referred
0,55409,0,37.0,na,NaN,0,0,0,0,0,...,0,0,0,0,Leo,1,0,NaN,0.00,0
1,23547,0,28.0,R,486.0,0,0,1,0,0,...,0,0,0,0,Leo,0,0,44.0,1.47,1
2,58313,0,35.0,R,561.0,47,2,86,47,0,...,0,0,0,0,Capricorn,1,0,65.0,2.17,0

In [21]:
#Cleaning Data


#Removing Na
dataset.isna().any() #To check 'NA' values

user                       False
churn                      False
age                         True
housing                    False
credit_score                True
deposits                   False
withdrawal                 False
purchases_partners         False
purchases                  False
cc_taken                   False
cc_recommended             False
cc_disliked                False
cc_liked                   False
cc_application_begin       False
app_downloaded             False
web_user                   False
app_web_user               False
ios_user                   False
android_user               False
registered_phones          False
payment_type               False
waiting_4_loan             False
cancelled_loan             False
received_loan              False
rejected_loan              False
zodiac_sign                False
left_for_two_month_plus    False
left_for_one_month         False
rewards_earned              True
reward_rate                False
is_referred                False
dtype: bool

In [22]:
dataset.isna().sum()

user                          0
churn                         0
age                           4
housing                       0
credit_score               8031
deposits                      0
withdrawal                    0
purchases_partners            0
purchases                     0
cc_taken                      0
cc_recommended                0
cc_disliked                   0
cc_liked                      0
cc_application_begin          0
app_downloaded                0
web_user                      0
app_web_user                  0
ios_user                      0
android_user                  0
registered_phones             0
payment_type                  0
waiting_4_loan                0
cancelled_loan                0
received_loan                 0
rejected_loan                 0
zodiac_sign                   0
left_for_two_month_plus       0
left_for_one_month            0
rewards_earned             3227
reward_rate                   0
is_referred                   0
dtype: int64

In [23]:
# so we have 'NA' values in age, credit_score, rewards_earned

# We will only remove null values from age column but drop credit_score and rewards_earned columns

dataset = dataset[pd.notnull(dataset['age'])]  #To remove null values from age column
dataset = dataset.drop(columns = ['credit_score', 'rewards_earned']) # To drop 'credit_score' & 'rewards_earned' columns

In [27]:
#Histogram

#New Dataset speficially for Histogram

dataset2 = dataset.drop(columns = ['user', 'churn']) #Drop user and Churn column from dataset

In [ ]:
#Plot Histogram

fig = plt.figure(figsize = (15,12))
plt.suptitle('Histogram of Numerical Columns', fontsize = 20)
for i in range(1, dataset2.shape[1] + 1):        # where dataset2.shape[1] + 1 = 28
    plt.subplot(6, 5, i)
    f = plt.gca()
    f.axes.get_yaxis().set_visible(False)
    f.set_title(dataset2.columns.values[i - 1])
    vals = np.size(dataset2.iloc[:, i - 1].unique())
    plt.hist(dataset2.iloc[:, i - 1], bins = vals)
plt.tight_layout(rect = [0, 0.03, 1, 0.95])