In [2]:
import pandas as pd


#Import Excel File
movie_sales = pd.read_excel('movie theater sales data.xlsx')

In [4]:
movie_sales.head()

,theater_name,movie_title,ticket_type,ticket_quantity
0,Sumdance Cinemas,Harry Plotter,senior,4
1,The Empirical House,10 Things I Hate About Unix,child,2
2,The Empirical House,The Seaborn Identity,adult,4
3,Sumdance Cinemas,10 Things I Hate About Unix,adult,2
4,The Empirical House,Mamma Median!,senior,2

In [6]:
#Sum only numeric value
movie_sales.sum(numeric_only = True)

ticket_quantity    2305
dtype: int64

In [7]:
#Pivot Table according to movie name
movie_sales.groupby('movie_title', as_index = False).sum()

                       movie_title  ticket_quantity
0      10 Things I Hate About Unix              331
1                    Harry Plotter              292
2                   Kung Fu pandas              253
3                    Mamma Median!              323
4                     The Matrices              343
5             The Seaborn Identity              352
6              The Sumif All Fears              156
7  There's Something About Merging              149
8           While You Were Sorting              106

In [8]:
#Pivot Table according to movie type
movie_sales.groupby('ticket_type', as_index = False).sum()

  ticket_type  ticket_quantity
0       adult             1383
1       child              487
2      senior              435

In [9]:
#Pivot Table according to theater name
movie_sales.groupby('theater_name', as_index = False).sum()

                      theater_name  ticket_quantity
0  Richie's Famous Minimax Theatre              572
1                 Sumdance Cinemas              584
2              The Empirical House              554
3                        The Frame              595

In [13]:
#Pivot Table with mutiple columns

all_columns = ['theater_name','movie_title','ticket_type']
all_group = movie_sales.groupby(all_columns, as_index = False).sum()

print(all_group.head())

                      theater_name                  movie_title ticket_type  \
0  Richie's Famous Minimax Theatre  10 Things I Hate About Unix       adult
1  Richie's Famous Minimax Theatre  10 Things I Hate About Unix       child
2  Richie's Famous Minimax Theatre  10 Things I Hate About Unix      senior
3  Richie's Famous Minimax Theatre                Harry Plotter       adult
4  Richie's Famous Minimax Theatre                Harry Plotter       child

   ticket_quantity
0               31
1               18
2               25
3               39
4                6

In [15]:
# Summarize by movie title and ticket type
movies_by_ticket_type = movie_sales.groupby(['movie_title', 'ticket_type'], as_index=False).sum()

# Filter for senior tickets
senior_ticket_movies = movies_by_ticket_type[movies_by_ticket_type['ticket_type'] == 'senior'].reset_index(drop=True)

# Sort senior ticket sales descending
ordered_senior_movies = senior_ticket_movies.sort_values('ticket_quantity', ascending=False).reset_index(drop=True)

In [17]:
#Group by mean() (average)
all_columns = ['theater_name','movie_title','ticket_type']
all_group_mean = movie_sales.groupby(all_columns, as_index = False).mean()
print(all_group_mean.head(3))

                      theater_name                  movie_title ticket_type  \
0  Richie's Famous Minimax Theatre  10 Things I Hate About Unix       adult
1  Richie's Famous Minimax Theatre  10 Things I Hate About Unix       child
2  Richie's Famous Minimax Theatre  10 Things I Hate About Unix      senior

   ticket_quantity
0         1.722222
1         2.571429
2         1.923077

In [ ]:
# Create a summary by theater location and movie title
totals = movie_sales.groupby(['theater_location', 'movie_title'], as_index=False).sum()

# Sort totals by ticket quantity in descending order
totals_sorted = totals.sort_values('ticket_quantity', ascending=False).reset_index(drop=True)

# Take the top row for each theater location
top_movies = totals_sorted.groupby('theater_location').head(1).reset_index(drop=True)

# Print results
print(top_movies)

In [ ]:
# Summary of movies and locations
theater_movie_summary = sales.groupby(['theater_location', 'movie_title'], as_index=False).sum()

# Get average ticket sales by movie title
avg_sale_by_movie = theater_movie_summary.groupby('movie_title', as_index=False).mean()

# Sort average ticket sales in descending order
movies_sorted = avg_sale_by_movie.sort_values('ticket_quantity', ascending=False).reset_index(drop=True)

# Print results
print(movies_sorted.head(1))