In [3]:
#Working with multiple Sheets

import pandas as pd

#Read workbook
fruit_workbook = pd.ExcelFile('fruit.xlsx')

print(fruit_workbook)

<pandas.io.excel.ExcelFile object at 0x000001C7E06AB5F8>

In [4]:
#Get Sheet names
fruit_sheet_names = fruit_workbook.sheet_names

print(fruit_sheet_names)

['Sheet1', 'Sheet2', 'Sheet3']

In [ ]:
#Attributes VS Methods

#Attributes :- Tell us something
    
#    e.g. :- object.attribute
#            workbook.sheet_names
            
            
#Methods :- Do something for us
    
#    e.g. :- object.method()
#            workbook.parse()

In [ ]:
#Functions :- function() or package.function()

#pd.ExcelFile()

In [5]:
#Parse Sheet1 tab (That store Sheet1 Tab Data into Python Dataframe)

fruit_prices = fruit_workbook.parse('Sheet1')

print(fruit_prices)

          name  price_used  quantity
0        Apple        0.88         3
1       Banana        0.23         2
2       Orange        0.68         2
3   Watermelon        3.98         1
4         Plum        0.96         0
5  Blueberries        5.16         1
6  Dragonfruit        5.27         2
7         Kiwi        1.12         3

In [6]:
#To print column in upper case

fruit_prices['name'].str.title()


#To print column in upper case
fruit_prices['name'].str.upper()

#To print column in lower case
fruit_prices['name'].str.lower()

0          apple
1         banana
2         orange
3     watermelon
4           plum
5    blueberries
6    dragonfruit
7           kiwi
Name: name, dtype: object

In [7]:
#To remove Leading and Trailing Spaces

fruit_prices['name'].str.strip()

0          Apple
1         Banana
2         Orange
3     Watermelon
4           Plum
5    Blueberries
6    Dragonfruit
7           Kiwi
Name: name, dtype: object

In [8]:
#To drop a column (we will drop price_used column)

fruit_prices.drop('price_used', axis = 1)

          name  quantity
0        Apple         3
1       Banana         2
2       Orange         2
3   Watermelon         1
4         Plum         0
5  Blueberries         1
6  Dragonfruit         2
7         Kiwi         3

In [9]:
#We will make to new Dataframe, after that use .merge() to join them (maybe left or right)
fruit_prices_new = fruit_prices.drop('quantity', axis = 1)

fruit_quantity_new = fruit_prices.drop('price_used', axis = 1)

In [12]:
#The vlookup method in Python (using .merge())

#Left Join
fruit_price_quantity_merge = fruit_prices_new.merge(fruit_quantity_new, on = 'name', how = 'left')



#If join column names are different, then we will use this

fruit_price_quantity_merge = fruit_prices_new.merge(fruit_quantity_new, left_on = 'name', right_on = 'quantity_name', how = 'left')

In [14]:
#Add new column in Dataframe

fruit_price_quantity_merge['total_price_with_quantity'] = fruit_price_quantity_merge['price_used'] * fruit_price_quantity_merge['quantity']

fruit_price_quantity_merge.head()

         name  price_used  quantity  total_price_with_quantity
0       Apple        0.88         3                       2.64
1      Banana        0.23         2                       0.46
2      Orange        0.68         2                       1.36
3  Watermelon        3.98         1                       3.98
4        Plum        0.96         0                       0.00

In [ ]:
#Put all together at the end of Exercise3


# Merge transaction data with the movie data on movie_title
transactions_with_genres = transactions.merge(movies, on = 'movie_title', how = 'left')

# Group by movie_genre and call the sum method
genre_summary = transactions_with_genres.groupby('movie_genre', as_index=False).sum()

# Sort the genre summary by ticket_quantity
genre_summary_sorted = genre_summary.sort_values('ticket_quantity', ascending=False).reset_index(drop=True)

# View the summary
print(genre_summary_sorted)