In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.pipeline import FeatureUnion
from sklearn.preprocessing import StandardScaler
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.linear_model import LinearRegression
import os

In [3]:
# Loading the Data and getting first intuitions

cars = pd.read_csv("autos.csv", encoding = "latin-1")

cars.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [6]:
# A. Identifiying missing values
missing_values = cars.isnull().sum()
missing_values.head()

#B. Plausibility check of numerical attributes
cars.describe()

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration,nrOfPictures,postalCode
count,3.715280e+05,371528.000000,371528.000000,371528.000000,371528.000000,371528.0,371528.00000
mean,1.729514e+04,2004.577997,115.549477,125618.688228,5.734445,0.0,50820.66764
std,3.587954e+06,92.866598,192.139578,40112.337051,3.712412,0.0,25799.08247
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.00000
25%,1.150000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30459.00000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49610.00000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71546.00000
max,2.147484e+09,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.00000

In [7]:
#C. Checking values of categorical attributes
cat_val = ["seller", "offerType", "abtest", "gearbox","fuelType", "notRepairedDamage", "nrOfPictures"]

for col in cat_val:
    print ([col]," : ",cars[col].unique())

['seller']  :  ['privat' 'gewerblich']
['offerType']  :  ['Angebot' 'Gesuch']
['abtest']  :  ['test' 'control']
['gearbox']  :  ['manuell' 'automatik' nan]
['fuelType']  :  ['benzin' 'diesel' nan 'lpg' 'andere' 'hybrid' 'cng' 'elektro']
['notRepairedDamage']  :  [nan 'ja' 'nein']
['nrOfPictures']  :  [0]

In [11]:
#2 Visualization / Scatter-Matrix and Histogram of "prices"
# Filter bad data
cars_c = cars.copy()
cars_c = cars_c[
    (cars_c["yearOfRegistration"].between(1945, 2017, inclusive=True)) &
    (cars_c["powerPS"].between(100, 500, inclusive=True)) &
    (cars_c["price"].between(100, 200000, inclusive=True))
]
cars_c

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
5,2016-04-04 17:36:23,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,privat,Angebot,650,test,limousine,1995,manuell,102,3er,150000,10,benzin,bmw,ja,2016-04-04 00:00:00,0,33775,2016-04-06 19:17:07
6,2016-04-01 20:48:51,Peugeot_206_CC_110_Platinum,privat,Angebot,2200,test,cabrio,2004,manuell,109,2_reihe,150000,8,benzin,peugeot,nein,2016-04-01 00:00:00,0,67112,2016-04-05 18:18:39
8,2016-04-04 23:42:13,Ford_C___Max_Titanium_1_0_L_EcoBoost,privat,Angebot,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN,2016-04-04 00:00:00,0,94505,2016-04-04 23:42:13
9,2016-03-17 10:53:50,VW_Golf_4_5_tuerig_zu_verkaufen_mit_Anhaengerk...,privat,Angebot,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN,2016-03-17 00:00:00,0,27472,2016-03-31 17:17:06
10,2016-03-26 19:54:18,Mazda_3_1.6_Sport,privat,Angebot,2000,control,limousine,2004,manuell,105,3_reihe,150000,12,benzin,mazda,nein,2016-03-26 00:00:00,0,96224,2016-04-06 10:45:34
11,2016-04-07 10:06:22,Volkswagen_Passat_Variant_2.0_TDI_Comfortline,privat,Angebot,2799,control,kombi,2005,manuell,140,passat,150000,12,diesel,volkswagen,ja,2016-04-07 00:00:00,0,57290,2016-04-07 10:25:17
12,2016-03-15 22:49:09,"VW_Passat_Facelift_35i__""7Sitzer""",privat,Angebot,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN,2016-03-15 00:00:00,0,37269,2016-04-01 13:16:16
13,2016-03-21 21:37:40,VW_PASSAT_1.9_TDI_131_PS_LEDER,privat,Angebot,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein,2016-03-21 00:00:00,0,90762,2016-03-23 02:50:54
14,2016-03-21 12:57:01,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,privat,Angebot,17999,control,suv,2011,manuell,190,navara,70000,3,diesel,nissan,nein,2016-03-21 00:00:00,0,4177,2016-04-06 07:45:42
18,2016-03-23 15:48:05,Ford_C_MAX_2.0_TDCi_DPF_Titanium,privat,Angebot,7550,test,bus,2007,manuell,136,c_max,150000,6,diesel,ford,nein,2016-03-23 00:00:00,0,88361,2016-04-05 18:45:11
19,2016-04-01 22:55:47,Mercedes_Benz_A_160_Classic_Klima,privat,Angebot,1850,test,bus,2004,manuell,102,a_klasse,150000,1,benzin,mercedes_benz,nein,2016-04-01 00:00:00,0,49565,2016-04-05 22:46:05
20,2016-04-01 19:56:48,Volkswagen_Scirocco_1.4_TSI_Sport,privat,Angebot,10400,control,coupe,2009,manuell,160,scirocco,100000,4,benzin,volkswagen,nein,2016-04-01 00:00:00,0,75365,2016-04-05 16:45:49
21,2016-03-27 11:38:00,BMW_530i_TÜV_7/17_Scheckheftgepflegt_sehr_gute...,privat,Angebot,3699,test,limousine,2002,automatik,231,5er,150000,7,benzin,bmw,nein,2016-03-27 00:00:00,0,68309,2016-04-07 06:44:26
24,2016-03-13 20:40:49,MERCEDES_200E__TÜV_04/2016,privat,Angebot,500,test,limousine,1990,manuell,118,andere,150000,10,benzin,mercedes_benz,ja,2016-03-13 00:00:00,0,35390,2016-03-13 20:40:49
25,2016-03-18 21:44:09,BMW_530d_touring_Vollausstattung_NAVI,privat,Angebot,2500,control,kombi,2002,automatik,193,5er,150000,9,diesel,bmw,ja,2016-03-18 00:00:00,0,73765,2016-03-18 21:44:09
26,2016-03-10 19:38:18,Citroen_C4_Grand_Picasso.,privat,Angebot,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein,2016-03-10 00:00:00,0,31139,2016-03-16 09:16:46
30,2016-04-03 15:48:11,Mercedes_Benz_E_250_D_Original_Zustand_!!,privat,Angebot,3300,test,limousine,1995,automatik,113,e_klasse,150000,1,diesel,mercedes_benz,nein,2016-04-03 00:00:00,0,53879,2016-04-05 15:16:05
33,2016-03-25 21:48:47,BMW_325i_Aut.,privat,Angebot,18000,test,limousine,2007,automatik,218,3er,20000,5,benzin,bmw,nein,2016-03-25 00:00:00,0,39179,2016-04-07 04:45:21
34,2016-03-17 18:55:12,Mercedes_Benz_E_200_CDI_Automatik_Classic,privat,Angebot,3500,control,limousine,2004,automatik,122,e_klasse,150000,11,diesel,mercedes_benz,nein,2016-03-17 00:00:00,0,67071,2016-03-30 15:46:10
38,2016-04-01 17:45:07,Abschleppwagen_Vw_LT_195.000_gruene_Plakette_T...,privat,Angebot,11900,test,andere,2002,manuell,129,andere,150000,11,diesel,volkswagen,nein,2016-04-01 00:00:00,0,10551,2016-04-05 12:47:30
41,2016-03-30 20:38:20,E_500_Avantgarde_AMG_Ausstattung,privat,Angebot,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN,2016-03-30 00:00:00,0,33649,2016-04-03 11:44:49
42,2016-03-24 00:52:09,BMW_E60_530XD,privat,Angebot,12500,test,limousine,2006,automatik,231,5er,150000,11,diesel,bmw,NaN,2016-03-23 00:00:00,0,46119,2016-04-04 16:18:19
46,2016-03-15 18:59:02,BMW_120d_DPF,privat,Angebot,7999,control,limousine,2007,manuell,177,1er,150000,8,diesel,bmw,nein,2016-03-15 00:00:00,0,53604,2016-03-16 16:47:48
47,2016-04-04 00:38:22,BMW_528i_touring,privat,Angebot,2100,test,kombi,1998,automatik,193,5er,150000,2,benzin,bmw,nein,2016-04-03 00:00:00,0,86157,2016-04-06 08:16:21
49,2016-04-04 14:06:22,Mercedes_Benz_B180_Automatik,privat,Angebot,13500,test,bus,2012,automatik,109,b_klasse,150000,7,diesel,mercedes_benz,nein,2016-04-04 00:00:00,0,35576,2016-04-05 12:09:29
50,2016-03-30 08:50:37,BMW_120i_Cabrio_mit_M_Paket,privat,Angebot,14800,control,cabrio,2008,manuell,170,1er,125000,4,benzin,bmw,NaN,2016-03-30 00:00:00,0,48691,2016-04-07 00:17:23
53,2016-03-29 18:53:48,Bmw_318_d_Sport_Edition_Facelift,privat,Angebot,7999,control,limousine,2008,automatik,143,3er,150000,12,diesel,bmw,NaN,2016-03-29 00:00:00,0,71083,2016-04-06 04:45:54
56,2016-03-21 01:59:07,BMW_435i_Sport_coupe,privat,Angebot,39600,test,coupe,2014,automatik,306,andere,30000,7,benzin,bmw,nein,2016-03-21 00:00:00,0,10435,2016-04-03 23:16:31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371483,2016-03-07 09:54:08,Mercedes_Benz_E_200_CDI_DPF_BlueEFFICIENCY_7G_...,privat,Angebot,20500,control,limousine,2012,automatik,136,e_klasse,60000,4,diesel,mercedes_benz,nein,2016-03-07 00:00:00,0,77694,2016-04-06 22:15:49
371484,2016-03-14 11:51:01,Opel_vectra_c_mit_diblas_komplett_umbau,privat,Angebot,2999,test,kombi,2004,manuell,234,vectra,100000,1,NaN,opel,NaN,2016-03-14 00:00:00,0,83364,2016-03-16 23:46:11
371485,2016-03-08 01:52:43,Bmw_530d_Facelift,privat,Angebot,4200,control,limousine,2001,automatik,193,5er,150000,1,diesel,bmw,NaN,2016-03-07 00:00:00,0,47138,2016-04-05 09:16:52
371487,2016-03-14 16:52:33,Mercedes_Benz_E_270_CDI_Elegance__+Vollausstat...,privat,Angebot,3800,test,limousine,2002,automatik,177,e_klasse,150000,5,diesel,mercedes_benz,ja,2016-03-14 00:00:00,0,86609,2016-04-05 23:16:30
371488,2016-03-15 01:51:20,Mercedes_Benz_Mercedes_Sportcoupe_CLC_180,privat,Angebot,2999,test,coupe,2003,manuell,143,andere,150000,3,benzin,mercedes_benz,ja,2016-03-14 00:00:00,0,72766,2016-04-05 13:17:05
371490,2016-03-22 10:37:54,Honda_Accord_Tourer_2.0_Lifestyle_Verhandlungs...,privat,Angebot,13850,control,kombi,2012,manuell,156,accord,125000,10,benzin,honda,nein,2016-03-22 00:00:00,0,91301,2016-04-05 23:17:04
371491,2016-03-15 20:25:20,Volkswagen_Passat_2.0_Executive,privat,Angebot,3200,test,limousine,2002,manuell,116,passat,150000,4,lpg,volkswagen,nein,2016-03-15 00:00:00,0,60439,2016-04-07 03:16:40
371494,2016-03-26 14:38:18,BMW_760_erst_110_000_km_letze_Chance_bis_Monta...,privat,Angebot,11500,control,limousine,2004,automatik,445,7er,125000,0,benzin,bmw,NaN,2016-03-26 00:00:00,0,4107,2016-04-06 20:45:16
371496,2016-03-20 12:46:00,"Peugeot_206_CC_""Filou""",privat,Angebot,3850,test,cabrio,2006,manuell,108,2_reihe,125000,2,NaN,peugeot,nein,2016-03-20 00:00:00,0,53947,2016-03-26 21:18:23
371497,2016-03-05 15:54:11,Opel_Astra_1.6_Caravan,privat,Angebot,4900,control,kombi,2008,manuell,116,astra,150000,2,benzin,opel,nein,2016-03-05 00:00:00,0,88213,2016-04-05 18:44:48
371498,2016-03-11 15:50:38,Opel_Vectra_Edition_100,privat,Angebot,699,control,limousine,1999,manuell,101,vectra,150000,3,benzin,opel,NaN,2016-03-11 00:00:00,0,65936,2016-03-17 12:44:29
371500,2016-03-21 23:40:49,Volkswagen_Golf_1.4_TSI_BlueMotion_Technology_...,privat,Angebot,20400,test,limousine,2014,automatik,150,golf,30000,9,benzin,volkswagen,nein,2016-03-21 00:00:00,0,38470,2016-04-07 04:17:32
371501,2016-03-26 18:36:54,Chrysler_Voyager,privat,Angebot,3900,test,bus,2003,automatik,174,voyager,150000,7,benzin,chrysler,nein,2016-03-26 00:00:00,0,34320,2016-04-06 09:16:04
371502,2016-04-01 12:59:21,Audi_A4_Avant_1.8,privat,Angebot,1600,test,kombi,1998,manuell,125,a4,150000,2,benzin,audi,nein,2016-04-01 00:00:00,0,34414,2016-04-07 09:44:29
371505,2016-04-03 19:56:57,Opel_Astra_1.6_Caravan_Selection,privat,Angebot,800,test,kombi,2000,manuell,101,astra,150000,11,benzin,opel,ja,2016-04-03 00:00:00,0,58730,2016-04-05 20:45:39
371506,2016-03-20 18:47:59,Volkswagen_Golf_1.9_TDI_DPF_Goal_Rentnerfzg._1...,privat,Angebot,5900,test,limousine,2006,manuell,105,golf,150000,9,diesel,volkswagen,nein,2016-03-20 00:00:00,0,1217,2016-04-07 02:44:27
371507,2016-03-16 17:06:19,Gepflegter_Audi_a4_2.0tdi_xenon_ahk_klima_sche...,privat,Angebot,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN,2016-03-16 00:00:00,0,56472,2016-03-18 11:30:17
371508,2016-04-02 16:43:27,Opel_Astra_1.8,privat,Angebot,1400,control,limousine,2001,manuell,125,astra,150000,2,benzin,opel,nein,2016-04-02 00:00:00,0,23820,2016-04-06 15:18:04
371509,2016-03-11 23:40:32,LT_35_DIESEL_Gruene_Plakette....letzte_Gelegen...,privat,Angebot,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein,2016-03-11 00:00:00,0,87700,2016-03-12 14:16:51
371510,2016-03-06 21:11:23,Mercedes_benz_e_klasse_avangarde_220_cdi_grune...,privat,Angebot,6500,test,limousine,2003,automatik,145,e_klasse,150000,3,diesel,mercedes_benz,nein,2016-03-05 00:00:00,0,60437,2016-03-12 12:18:05
371511,2016-03-31 18:50:37,Audi_A3_1.8_T_Attraction,privat,Angebot,1999,control,limousine,1997,manuell,150,a3,150000,12,benzin,audi,nein,2016-03-31 00:00:00,0,4275,2016-04-06 12:46:41
371512,2016-03-25 18:48:06,Mercedes_Benz_E_400_CDI_Avantgarde,privat,Angebot,5000,test,limousine,2003,automatik,260,e_klasse,150000,12,diesel,mercedes_benz,ja,2016-03-25 00:00:00,0,90473,2016-04-07 00:44:51
371513,2016-03-21 15:36:22,Seat_Leon_1.9_TDI_4/5_Tueren,privat,Angebot,4400,control,limousine,2008,manuell,105,leon,150000,7,diesel,seat,nein,2016-03-21 00:00:00,0,45896,2016-04-06 15:45:01
371517,2016-03-28 13:48:07,Volkswagen_Golf_2.0_TDI_DPF_Team,privat,Angebot,7900,test,limousine,2010,manuell,140,golf,150000,7,diesel,volkswagen,nein,2016-03-28 00:00:00,0,75223,2016-04-02 18:16:20
371519,2016-03-09 13:37:43,Alfa_Romeo_159_Jtdm_1.9_150_ps_13_600_km_top_voll,privat,Angebot,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein,2016-03-09 00:00:00,0,51371,2016-03-13 01:44:13
371520,2016-03-19 19:53:49,turbo_defekt,privat,Angebot,3200,control,limousine,2004,manuell,225,leon,150000,5,benzin,seat,ja,2016-03-19 00:00:00,0,96465,2016-03-19 20:44:43
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10