In [25]:
import pandas as pd

fruit = pd.read_excel('fruit.xlsx', index = 0)

print(fruit)

#To print first five rows

print(fruit.head())


#To print first two rows
print(fruit.head(2))

          name  colour  price_used  quantity
0        Apple     red        0.88         3
1       Banana  Yellow        0.23         2
2       Orange  Orange        0.68         2
3   Watermelon   Green        3.98         1
4         Plum  Purple        0.96         0
5  Blueberries    Blue        5.16         1
6  Dragonfruit    Pink        5.27         2
7         Kiwi   Brown        1.12         3
         name  colour  price_used  quantity
0       Apple     red        0.88         3
1      Banana  Yellow        0.23         2
2      Orange  Orange        0.68         2
3  Watermelon   Green        3.98         1
4        Plum  Purple        0.96         0
     name  colour  price_used  quantity
0   Apple     red        0.88         3
1  Banana  Yellow        0.23         2

In [26]:
#By Default, Sort is ascending order

#Sort by column name
fruit.sort_values('name')


#Sort by column name 'price_used' in descending order
fruit.sort_values('price_used', ascending = False)


#Reset Index
fruit.reset_index(drop = True)

          name  colour  price_used  quantity
0        Apple     red        0.88         3
1       Banana  Yellow        0.23         2
2       Orange  Orange        0.68         2
3   Watermelon   Green        3.98         1
4         Plum  Purple        0.96         0
5  Blueberries    Blue        5.16         1
6  Dragonfruit    Pink        5.27         2
7         Kiwi   Brown        1.12         3

In [27]:
#Accessing a single column
fruit['name']

#Check values of a column with specific condition

fruit['name'] == "Apple"


#Please not, In Python filter text in case sensitive, So Capital A is necessary in "Apple" Columnb

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: name, dtype: bool

In [28]:
#To filter price_used value greater than 1
fruit[fruit['price_used'] > 1]


#To filter price_used value greater than 1 and reset index
fruit[fruit['price_used'] > 1].reset_index(drop = True)

          name colour  price_used  quantity
0   Watermelon  Green        3.98         1
1  Blueberries   Blue        5.16         1
2  Dragonfruit   Pink        5.27         2
3         Kiwi  Brown        1.12         3

In [29]:
#To filter price_used value less than 1
fruit[fruit['price_used'] < 1]

     name  colour  price_used  quantity
0   Apple     red        0.88         3
1  Banana  Yellow        0.23         2
2  Orange  Orange        0.68         2
4    Plum  Purple        0.96         0

In [33]:
#Create a new column "old_cost" which is ("price_used" * 2) in every row

fruit['old_cost'] = fruit['price_used'] * 2


print(fruit)


#Create a new column "cost" which is ("price_used" * quantity) in every row

fruit['cost'] = fruit['price_used'] * fruit['quantity']


print(fruit)

          name  colour  price_used  quantity   cost  old_cost
0        Apple     red        0.88         3   2.64      1.76
1       Banana  Yellow        0.23         2   0.46      0.46
2       Orange  Orange        0.68         2   1.36      1.36
3   Watermelon   Green        3.98         1   3.98      7.96
4         Plum  Purple        0.96         0   0.00      1.92
5  Blueberries    Blue        5.16         1   5.16     10.32
6  Dragonfruit    Pink        5.27         2  10.54     10.54
7         Kiwi   Brown        1.12         3   3.36      2.24
          name  colour  price_used  quantity   cost  old_cost
0        Apple     red        0.88         3   2.64      1.76
1       Banana  Yellow        0.23         2   0.46      0.46
2       Orange  Orange        0.68         2   1.36      1.36
3   Watermelon   Green        3.98         1   3.98      7.96
4         Plum  Purple        0.96         0   0.00      1.92
5  Blueberries    Blue        5.16         1   5.16     10.32
6  Dragonfruit    Pink        5.27         2  10.54     10.54
7         Kiwi   Brown        1.12         3   3.36      2.24